--output-dir doc/yard
--tag overridable:Overridable
--markup markdown
--exclude /generators/
merb-core/lib/**/*.rb
merb-action-args/lib/**/*.rb
merb-assets/lib/**/*.rb
merb-slices/lib/**/*.rb
merb-cache/lib/**/*.rb
merb-gen/lib/**/*.rb
merb-haml/lib/**/*.rb
merb-helpers/lib/**/*.rb
merb-mailer/lib/**/*.rb
merb-param-protection/lib/**/*.rb
merb-exceptions/lib/**/*.rb
-
merb-core/docs/*.mkd
merb-action-args/docs/*.mkd
merb-assets/docs/*.mkd
merb-slices/docs/*.mkd
merb-cache/docs/*.mkd
merb-gen/docs/*.mkd
merb-haml/docs/*.mkd
merb-helpers/docs/*.mkd
merb-mailer/docs/*.mkd
merb-param-protection/docs/*.mkd
merb-exceptions/docs/*.mkd
