%h1
  <%= class_name %> controller, index action
%p
  Edit this file in
  %tt
    app/views/<%= file_name %>/index.html.haml
%table
  %tr
<% for property in properties.reject{|p| p.lazy?} -%>
    %th
      <%= DataMapper::Inflection.humanize(property.field) %>
<% end -%>
  - for <%= singular_model %> in @<%= plural_model %>
    %tr
<% for property in properties.reject{|p| p.lazy?} -%>
      %td
        =h <%= singular_model %>.<%= property.getter %>
<% end -%>
      %td
        = link_to 'Show', resource(<%= singular_model %>)
      %td
        = link_to 'Edit', resource(<%= singular_model %>, :edit)

= link_to 'New', resource(:<%= plural_model %>, :new)