<p class="note plugin">
  <strong>This <%= object.type %> is part of a plugin API.</strong> 
  While this <%= object.type %> method should be stable, it might still change. It is mainly intended for use in add-ons to the framework.
</p>
